html {
	background-color: #D6EAF8;
}

ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a6d5;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(10, 55, 220, 0.5);
  font-size: 20px;
}

li {
  float: left;
}

li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
}

li a:hover {
  background-color: #111;
}

.selecionado {
  background-color: #111;
}

.format {
	font-size: 35px;
	padding: 50px 20px 20px 20px;
}
