/*Cor de fundo da página*/
html {
	background-color: #D6EAF8;
}
/*Configuração do Menu*/
ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a6d5;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(10, 55, 220, 0.5);
  font-size: 20px;
}
li {
  float:left;
}
li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
}
/*Configuração para quando o mouse passar sobre as opções do Menu*/
li a:hover {
  background-color: lightblue;
}
/*Configuração para o Menu selecionado*/
.selecionado {
  background-color: #154c79;
}
/*Configuração do texto das Seções Sobre Mim e Formação*/
.format {
	font-size: 20px;
	padding: 10px 30px 30px 30px;
}
/*Configuração do título de cada Portfólio*/
th {
  height: 70px;
  min-width: 280px;
}

/*Configuração do Botão*/
button {
  background-color: #154c79;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
}
/*Configuração para quando o mouse passar sobre o Botão*/
button:hover {
  background-color: lightblue;
}
/*Configuração para os Botões Enviar e Limpar*/
input[type=submit], input[type=reset] {
  background-color: #154c79;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}
/*Configuração para quando o mouse passar sobre os Botões Enviar e Limpar*/
input[type=submit]:hover , input[type=reset]:hover {
  background-color: lightblue;
}

.titlefix {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	margin: 0;
	background-color: #00a6d5;
	font-size: 35px;
	color: white;
	text-align: center;
	padding: 5px;
}
