html {
	background-color: #D6EAF8;
}

ul {
  list-style-type: none;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a6d5;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(10, 55, 220, 0.5);
  font-size: 20px;
}

li {
  float: left;
}

li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 16px 18px;
}

li a:hover {
  background-color: lightblue;
}

th {
  height: 70px;
  min-width: 280px;
}

button {
  background-color: #154c79;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background-color: lightblue;
}

input[type=submit], input[type=reset] {
  background-color: #154c79;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover , input[type=reset]:hover {
  background-color: lightblue;
}

.selecionado {
  background-color: #154c79;
}

.format {
	font-size: 20px;
	padding: 10px 30px 30px 30px;
}
